/* Základné nastavenia */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e8f5e9;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hero sekcia */
#hero {
    height: 100vh; /* Nastavenie hero sekcie na výšku celej obrazovky */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('assets/images/hero.jpg') no-repeat center center;
    background-size: cover; /* Uistite sa, že obrázok sa prispôsobí celej ploche */
}

#hero img {
    display: none; /* Ak používate background v #hero, odstráňte samotný img tag */
}




#hero .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #e8f5e9;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Sekcia kategórií */
#categories {
    padding: 50px;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.category img {
    width: 100%;
    border-radius: 10px;
}

.category h3 {
    margin-top: 10px;
    color: #4caf50;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
